<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sasquatch Websighting</title>
</head>
<body>
    <div>
        <div>
            <h2>
                Sasquatch Websighting
            </h2>
        </div>
        <div>
            <div>{{user.first_name}} {{user.last_name}}</div>
            <div><a href="/dashboard">Dashboard</a></div>
            <div><a href="/logout">Logout</a></div>
        </div>
    </div>
    <div>
        <div>
            <h2>{{sighting.location}} on {{sighting.date}}</h2>
            <div>What Happened: {{sighting.happened}}</div>
            <div># of Sasquatches: {{sighting.NumOfSas}}</div>
            <div>Reported By: {{user.first_name}} {{user.last_name}}</div>
        </div>
    </div>
</body>
</html>
